{
   "semi": true,
   "singleQuote": true,
   "tabWidth": 3,
   "trailingComma": "es5",
   "printWidth": 95,
   "bracketSpacing": true,
   "arrowParens": "always",
   "vueIndentScriptAndStyle": true,
   "endOfLine": "crlf"
}