@import 'tailwindcss';

/** Modulos **/
@import './config.css';
@import './fonts.css';

body {
   margin: 0;
   width: 100%;
   height: 100%;
   background-color: var(--color-background-default);
   font-family: var(--font-roboto);
   box-sizing: border-box;
}

#root {
   margin: 0;
   padding: 20px;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
